.side-menu-admin {
    .ui.menu {
      width: 250px !important;
      overflow: visible;
      padding-top: 4em;
      z-index: 99 !important;
  
      i.icon {
        float: initial !important;
        margin: 0 !important;
        margin-right: 10px !important;
      }
    }
  
    .content { 
      position: relative;
      right: 0;
      padding: 20px;
      padding-left: 260px; /* nuevo estilo */
    }

    .ui.accordion .title {
      border: none !important;
      font-size: 14px !important;
    }
    .ui.accordion {
      border: none;
      box-shadow: none;
      padding-top : 10px;

    }


  }