.table-product-admin {
  tbody {
    tr {
      td {
        .ui.image {
          width: 80px;
          height: 80px;
        }
  
        &.status {
          .icon {
            &.close {
              color: #f00;
            }
            &.check {
              color: #008000;
            }
          }
        }
      }
    }
  }
}

  .ui.pagination.menu {
    padding: 0;
  }