.table-admin {
    position: relative;
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  
    .ui.label {
      margin: 0;
      font-size: 20px;
      position: absolute;
      top: 1px;
    }
  
    svg {
      height: 150px;
      width: 150px;
      padding-top: 10px;
  
      &.busy {
        fill: #a18262;
      }
      &.pending {
        fill: #FF0000;
      }
      &.pending-payment {
        fill: #17A70D  ;
      }
    }
  }