.container-user-admin {

    width: 800px;
    overflow-x: auto;


    td {
      &.status {
        .icon {
          &.close {
            color: #f00;
          }
          &.check {
            color: #008000;
          }
        }
      }
    }
  }